{% extends "core/admin/edit.html" %}

{% load portaltags %}

{% block paneltitle %}
    {% getlang '__adm_Menu_item__'%} - {{ module_type.name }}
    <br /><a href="{% url core.view.menu_item_admin.edit_item data.id %}?changetype=1&rid={{ rid }}" style="font-size: 10px; color: #f00;">{% getlang '__adm_Change__' %}</a>
{% endblock %}

{% block formurl %}
    {% url core.view.menu_item_admin.edit_item data.id %}
{% endblock %}

{% block urlcopybutton %}
    {% url core.view.menu_item_admin.copy_item data.id %}
{% endblock %}

{% block urlcancelbutton %}
    {% url core.view.menu_item_admin.show_items %}
{% endblock %}

{% block formextrafields %}
    {% if field.name == "module" %}
       <a href="{% url core.view.menu_item_admin.edit_item data.id %}">{% getlang '__adm_Change__'%}</a>
    {% endif %}
{% endblock %}

