{% extends "core/admin/list.html" %}

{% load portaltags %}

{% block paneltitle %}
    {% getlang '__adm_Repetitio__'%} - {% getlang '__adm_Tests__'%}
{% endblock %}

{% block urladdbutton %}
    {% url core.view.repetitio_test_admin.add_item %}
{% endblock %}

{% block filter_1 %}
    <div class="selectsearch">
        <form action="{{ filter_1 }}" method="get">
            <select name="selectedcourse" id="courseselect" onchange="form.submit()">
                <option value="-1">{% getlang '__adm_Course__' %}</option>
                {% for course in courses %}
                    <option value="{{ course.id }}" {% if selectedcourse == course.id %}selected="selected"{% endif %}>{{ course.language.name }}</option>
                {% endfor %}
            </select>
        </form>
    </div>
{% endblock %}

{% block listheader %}
    <th>{% getlang '__adm_Lp__' %}
    <th>{% getlang '__adm_Name__' %}
    <th>{% getlang '__adm_Questions__' %}
    <th>{% getlang '__adm_Create_date__' %}
    <th>{% getlang '__adm_Id__' %}
    <th>{% getlang '__adm_Delete__' %}
{% endblock %}

{% block listcontent %}
    {% for item in data %}
        <tr class="tablecontent" id="row{{ item.id }}">
            <td class="tdlp">{{ forloop.counter }}
            <td class="tdtitle">
                {% if not item.noedit %}
                <a href="{% url core.view.repetitio_test_admin.edit_item item.id %}" style="margin-left: {{ item.depth }}px; !important;">
                    {% if item.depth > 0 %}<sup>|_</sup>&nbsp;{% endif %}{{ item.language.name }}
                </a>
                {% else %}
                    {% if item.depth > 0 %}<sup>|_</sup>&nbsp;{% endif %}{{ item.language.name }}
                {% endif %}
            <td><a href="{% url core.view.repetitio_question_admin.show_items %}?selectedtest={{ item.id }}">{% getlang '__adm_Show_questions__' %}</a>
            <td class="tddate">{{ item.date|date:"d-m-Y H:i:s" }}
            <td class="tdid">{{ item.id }}
            <td class="tddelete">
                {% if not item.noedit %}
                    <img src="/site_media/{{ PORTALSHEETPATH }}/admin/images/delete.gif" width="24" onclick="deleteitem({{ item.id }}, 'cms/categories', null, '{% getlang "__Are_you_sure?__" %}')" />
                {% else %}
                    -
                {% endif %}
        </tr>
    {% endfor %}
{% endblock %}
