{% extends "core/admin/list.html" %}

{% load portaltags %}

{% block paneltitle %}
    {% getlang '__adm_Repetitio__'%} - {% getlang '__adm_Courses__'%}
{% endblock %}

{% block urladdbutton %}
    {% url core.view.repetitio_course_admin.add_item %}
{% endblock %}

{% block listheader %}
    <th>{% getlang '__adm_Lp__' %}
    <th>{% getlang '__adm_Name__' %}
    <th>{% getlang '__adm_Tests__' %}
    <th>{% getlang '__adm_Create_date__' %}
    <th>{% getlang '__adm_Id__' %}
    <th>{% getlang '__adm_Delete__' %}
{% endblock %}

{% block listcontent %}
    {% for item in data %}
        <tr class="tablecontent" id="row{{ item.id }}">
            <td class="tdlp">{{ forloop.counter }}
            <td class="tdtitle">
                {% if not item.noedit %}
                <a href="{% url core.view.repetitio_course_admin.edit_item item.id %}" style="margin-left: {{ item.depth }}px; !important;">
                    {% if item.depth > 0 %}<sup>|_</sup>&nbsp;{% endif %}{{ item.language.name }}
                </a>
                {% else %}
                    {% if item.depth > 0 %}<sup>|_</sup>&nbsp;{% endif %}{{ item.language.name }}
                {% endif %}
            <td><a href="{% url core.view.repetitio_test_admin.show_items %}?selectedcourse={{ item.id }}">{% getlang '__adm_Show_tests__' %}</a>
            <td class="tddate">{{ item.date|date:"d-m-Y H:i:s" }}
            <td class="tdid">{{ item.id }}
            <td class="tddelete">
                {% if not item.noedit %}
                    <img src="/site_media/{{ PORTALSHEETPATH }}/admin/images/delete.gif" width="24" onclick="deleteitem({{ item.id }}, 'cms/categories', null, '{% getlang "__Are_you_sure?__" %}')" />
                {% else %}
                    -
                {% endif %}
        </tr>
    {% endfor %}
{% endblock %}
