{% extends "core/portal/index.html" %}

{% load portaltags %}

{% block tops %}
    <center>
        <img src="/site_media/portaladmin/portal/images/reklama/r2.gif" />
    </center>
{% endblock %}

{% block middlecontent %}
<!-- article list -->
<div class="item {{ mod.options.class_prefix }}article-column column1 col-first">
    <div class="{{ mod.options.class_prefix }}ja-box column ja-zintheme ja-box-first">
        <div class="{{ mod.options.class_prefix }}ja-box-inner clearfix">
            {% if mod.items %}
                {% for item in mod.items %}
                    {% if forloop.first %}
                        {% if mod.options.exposefirst %}
                            <div class="{{ mod.options.class_prefix }}ja-zincontent clearfix">
                                {% if mod.options.show_title %}
                                    <h4 class="{{ mod.options.class_prefix }}ja-zintitle">
                                        <a href="{% url core.view.article.show_item_by_id item.id %}" title="">{{ item.language.title }}</a>
                                    </h4>
                                {% endif %}
                                <img class="right" src="" alt="" align="right" />
                                <p>
                                    {{ item.language.text|truncatewords_html:"30"|striptags|safe }}
                                </p>
                            </div>
                        {% else %}
                            <div class="{{ mod.options.class_prefix }}ja-zinlinks clearfix">
                                <ul class="jazin-links">
                                    <li>
                                        <span  class="editlinktip jahasTip" title="{{ item.language.title }}::&lt;img class=&quot;right&quot; src={{ img }}&quot;&quot; alt=&quot;&quot; align=&quot;right&quot; /&gt;&lt;p&gt;{{ item.language.text|truncatewords_html:"30"|striptags|safe }}&lt;/p&gt;">
                                            {% if mod.options.show_title %}
                                                <a href="{% url core.view.article.show_item_by_id item.id %}">
                                                    {{ item.language.title }}
                                                </a>
                                            {% endif %}
                                            <p>
                                                {{ item.language.text|truncatewords_html:"30"|striptags|safe }}
                                            </p>
                                        </span>
                                    </li>
                                </ul>
                            </div>
                        {% endif %}
                    {% else %}
                        <div class="{{ mod.options.class_prefix }}ja-zinlinks clearfix">
                            {% if not mod.options.exposefirst %}
                                <strong>Więcej:</strong>
                            {% endif %}
                            <ul class="jazin-links">
                                <li>
                                    <span class="editlinktip jahasTip" title="{{ item.language.title }}::&lt;img class=&quot;right&quot; src={{ img }}&quot;&quot; alt=&quot;&quot; align=&quot;right&quot; /&gt;&lt;p&gt;{{ item.language.text|truncatewords_html:"30"|striptags|safe }}&lt;/p&gt;">
                                        {% if mod.options.show_title %}
                                            <a href="{% url core.view.article.show_item_by_id item.id %}">
                                                {{ item.language.title }}
                                            </a>
                                        {% endif %}
                                        <p>
                                            {{ item.language.text|truncatewords_html:"30"|striptags|safe }}
                                        </p>
                                    </span>
                                </li>
                            </ul>
                        </div>
                    {% endif %}
                {% endfor %}
            {% endif %}
        </div>
    </div>
</div>
<!-- end article list -->
{% endblock %}

{% block navigator %}
    <!-- navigator -->
    <div id="ja-navhelper-top">
        <div class="ja-breadcrums">
            <a href="javascript: history.go(-1)" class="ja-back-btn" title="Go back one page!"><span>Back</span></a>
            <span class="breadcrumbs pathway">
                {% category_path category.id activelang %}
            </span>
        </div>
    </div>
    <!-- end navigator -->
{% endblock %}
