td {
	font-size: 12px;
}

body {
	margin: 0px;
	padding: 0px;
	font-family: Verdana, Arial, Tahoma, Helvetica, sans-serif;
	font-size: 12px;
}

a {
        text-decoration: none;
        color: #0153A7;
}

.clear {
	clear: both;
}

.noborder {
	border: none;
}

#site {
    width:1000px;
    position:relative;
    margin-top: 0px;
    margin-left:50%;
    padding: 0px;
    left:-500px;
}

/* top start */
/* gorny panel */

#top {
	position: relative;
}

#toplogo {
	background: url('/site_media/rtm/images/logo.jpg') no-repeat;
	width: 366px;
	height: 52px;
	float: left;
}

#top1 {
	background: url('/site_media/rtm/images/top1.jpg') no-repeat;
	width: 332px;
	height: 52px;
	float: left;
}

#toplogin {
	background: url('/site_media/rtm/images/login.jpg') no-repeat;
	width: 292px;
	height: 47px;
	float: left;
	padding-top: 2px;
	padding-left: 10px;
}

#toplogin input {
        background: none;
        background-color: #ffffff;
        border: 1px solid grey;
        width: 108px;
	padding: 0px;
	margin: 0px;
}

#toplogin input#zaloguj {
	background: url('/site_media/rtm/images/zaloguj.jpg') no-repeat;
        width: 49px;
	height: 18px;
        border: none;
}

/* top end */

/* top menu start */
/* menu gorne */

#topmenu {
	position: relative;
}

#topmenulogo {
	background: url('/site_media/rtm/images/logob.jpg') no-repeat;
	width: 84px;
	height: 40px;
	float: left;
}

#topmenubuttons {
	background: url('/site_media/rtm/images/topmenu.jpg') repeat-x;
	width: 916px;
	height: 40px;
	float: left;
}

#b1 {
	background: url('/site_media/rtm/images/b1.jpg') no-repeat;
	width: 75px;
	height: 40px;
	float: left;
}

#b1:hover {
	background-position: 0px -40px;
}

#b2 {
	background: url('/site_media/rtm/images/b2.jpg') no-repeat;
	width: 66px;
	height: 40px;
	float: left;
}

#b2:hover {
	background-position: 0px -40px;
}

#b3 {
	background: url('/site_media/rtm/images/b3.jpg') no-repeat;
	width: 77px;
	height: 40px;
	float: left;
}

#b3:hover {
	background-position: 0px -40px;
}

#b4 {
	background: url('/site_media/rtm/images/b4.jpg') no-repeat;
	width: 113px;
	height: 40px;
	float: left;
}

#b4:hover {
	background-position: 0px -40px;
}

#b5 {
	background: url('/site_media/rtm/images/b5.jpg') no-repeat;
	width: 127px;
	height: 40px;
	float: left;
}

#b5:hover {
	background-position: 0px -40px;
}

#b6 {
	background: url('/site_media/rtm/images/b6.jpg') no-repeat;
	width: 91px;
	height: 40px;
	float: left;
}

#b6:hover {
	background-position: 0px -40px;
}

#b7 {
	background: url('/site_media/rtm/images/b7.jpg') no-repeat;
	width: 64px;
	height: 40px;
	float: left;
}

#b7:hover {
	background-position: 0px -40px;
}

#b8 {
	background: url('/site_media/rtm/images/b8.jpg') no-repeat;
	width: 55px;
	height: 40px;
	float: left;
}

#b8:hover {
	background-position: 0px -40px;
}

#b9 {
        background: url('/site_media/rtm/images/b9.jpg') no-repeat;
        width: 108px;
        height: 40px;
        float: left;
}

#b9:hover {
        background-position: 0px -40px;
}

#b10 {
        background: url('/site_media/rtm/images/b10.jpg') no-repeat;
        width: 80px;
        height: 40px;
        float: left;
}

#b10:hover {
        background-position: 0px -40px;
}

#b11 {
        background: url('/site_media/rtm/images/b11.jpg') no-repeat;
        width: 60px;
        height: 40px;
        float: left;
}

#b11:hover {
        background-position: 0px -40px;
}

#topmenuspacer {
	background: url('/site_media/rtm/images/topmenu.jpg') repeat-x;
	width: 188px;
	height: 40px;
	float: left;
}

/* top menu end */

/* top boxes start */

#topboxes {
	position: relative;
}

/* left box start */

#toprotator {
	width: 739px;
	height: 214px;
	float: left;
}

#zajt {
	background: url('/site_media/rtm/images/zajt.jpg') no-repeat;
	width: 739px;
	height: 6px;
	margin: 0px;
	padding: 0px;
}

#zajcontent {
	width: 739px;
	height: 230px;
	background-color: #8cd63b;
	margin-top: -10px;
	margin: 0px;
	padding: 0px;
	overflow:hidden;
}

#zajb {
	background: url('/site_media/rtm/images/zajb.jpg') no-repeat;
	width: 739px;
	height: 6px;
}

.rotatorimage {
	overflow: hidden;
	width: 330px;
	height: 230px;
	float: left;
}

.rotatorcontent {
	float: left;
	width: 403px;
	height: 200px;
}

.rtitle {
	font-size: 16px;
	font-weight: normal;
	color: black;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 20px;
}

.rcontent {
	height: 160px;
	font-size: 12px;
	font-weight: normal;
	color: black;
	margin-left: 10px;
	margin-right: 10px;
	overflow: hidden;
}

.rhref {
	background: url('/site_media/rtm/images/fzmore.jpg') no-repeat;
	width: 97px;
	height: 23px;
	float: right;
	bottom: 10px;
	margin-right: 10px;
}

/* left box end */

/* right box start */

#topboxright {
	width: 253px;
	height: 242px;
	float: left;
	margin-left: 8px;
}

#dolacz {
	background: url('/site_media/rtm/images/dolacz.jpg') no-repeat;
	width: 253px;
	height: 194px;
        padding-top: 13px;
}

#dolacz input {
        background: none;
        background-color: #ffffff;
        border: 1px solid grey;
        width: 180px;
        margin-left: 10px;
}

#dolacz input#searchbutton {
        background: url('/site_media/rtm/images/search.jpg') no-repeat;
	width: 43px;
	height: 18px;
	border: none;
}

#dolacz input.nobutton {
        background: none;
        background-color: none;
        width: 45px;
        border: none;
}

#dolaczsearch {
        background: url('/site_media/rtm/images/dolacz.jpg') no-repeat;
        width: 253px;
        height: 30px;
        padding-top: 13px;
        margin-bottom: 10px;
}

#dolaczsearch input {
        background: none;
        background-color: #ffffff;
        border: 1px solid grey;
        width: 180px;
	margin-left: 10px;
	margin-bottom: 15px;
	float: left;
}

#dolaczsearch input#searchbutton {
        background: url('/site_media/rtm/images/search.jpg') no-repeat;
	width: 43px;
	height: 18px;
	border: none;
	float: right;
	margin-right: 10px;
	margin-top: -2px;
}

#dolacz_23 {
	background: url('/site_media/rtm/images/dolacz-23.jpg') no-repeat;
	width: 145px;
	height: 35px;
	float: left;
	border: none;
}

#dolaczbutton {
        background: url('/site_media/rtm/images/zfmoreb.jpg') no-repeat;
	width: 97px;
	height: 34px;
	float: left;
	border: none;
}

#dolaczbuttonb {
        background: url('/site_media/rtm/images/dolacz-29.jpg') no-repeat;
	width: 97px;
	height: 34px;
}

#dolaczbuttont {
        background: url('/site_media/rtm/images/zfmore.jpg') no-repeat;
	width: 97px;
	height: 34px;
	border: none;
}

#dolaczrej img {
        width: 97px;
        height: 24px;
        border: none;
        margin: 0px;
        padding: 0px;
}

#dolacz_29a {
	background: url('/site_media/rtm/images/dolacz-29.jpg') no-repeat;
	width: 97px;
	height: 12px;
}

#dolacz_25 {
	background: url('/site_media/rtm/images/dolacz-25.jpg') no-repeat;
	width: 11px;
	height: 35px;
	float: left;
}

/* right box end */

/* top box end */

/* content start */

#content {
	position: relative;
	width: 739px;
	float: left;
	margin-top: 8px;
}

#bigbox {
	width: 363px;
	background: url('/site_media/rtm/images/rodzicetomy_36.jpg') repeat-y;
	float: left;
}

#bigboxtop {
	background: url('/site_media/rtm/images/bigboxt.jpg') no-repeat;
	width: 363px;
	height: 8px;
}

#bigboxcontent {
	width: 353px;
	margin-left: 5px;
	margin-top: 5px;
}

#bigboxcontent p {
        padding-left: 5px;
        width: 340px;
}

#bigboxbottom {
	background: url('/site_media/rtm/images/bigboxb.jpg') no-repeat;
	width: 363px;
	height: 8px;
}

#footer {
	position: relative;
	clear: both;
	width: 1000px;
	padding-top: 40px;
	margin-bottom: 40px;
}

#footer table {
	width: 100%;
}

#footer td {
	padding-left: 35px;
	width: 20%;
	font-size: 10px;
	color: black;
}

#footer td.naglowek {
	padding-left: 35px;
        font-weight: bold;
        margin: 2px 0px 2px 0px;
}

#footer td.border {
	border-left: 1px solid lightgrey;
}

#footer td h4 {
	margin: 2px 0px 2px 0px;
}

#footer a {
	color: #a651ae;
}

#footer a:visited {
	color: #a651ae;
}

#footer a:hover {
	color: red;
}

#footer td a {
        color: black;
}

#footer td a:visited {
        color: black;
}

#footer td a:hover {
        color: red;
}

.ftdb {
	width: 1px;
	border-left: 1px solid grey;
}

.spacer13 {
	float: left;
	width: 13px;
}

.bigboxtitle {
	border-bottom: 1px solid lightgrey;
	width: 353px;
	height: 20px;
}

.bigboxtitleimage {
	float: left;
	border: none;
}

.sign {
	float: right;
	border: none;
	margin-top: -3px;
	margin-right: 3px;
}

.bigboximage {
	margin-top: 5px;
	overflow: hidden;
	width: 343px;
	height: 132px;
}

.gborder4 {
	border: 4px solid #58ab35;
}

.fborder4 {
	border: 4px solid #a651ae;
}

.fvborderspacer {
	border-bottom: 1px solid #a651ae;
	width: 100%;
	margin-top: 5px;
}

.gvborderspacer {
	border-bottom: 1px solid #58ab35;
	width: 100%;
	margin-top: 5px;
}

.whref {
	background: url('/site_media/rtm/images/fbmore.jpg') no-repeat;
	width: 97px;
	height: 23px;
	float: right;
	bottom: 10px;
	margin-right: 5px;
}

.phref {
	background: url('/site_media/rtm/images/zbmore.jpg') no-repeat;
	width: 97px;
	height: 23px;
	float: right;
	bottom: 10px;
	margin-right: 5px;
}

.noa, .noa:hover, .noa:visited {
	text-decoration: none;
	border: none;
	color: black;
}

.cblack {
	color: black;
}

/* content stop */

/* right start */

#right {
	position: relative;
	width: 253px;
	float: left;
	margin-top: 8px;
	margin-left: 8px;
}

/* yellow box */

#ybox {
	width: 253px;
	float: left;
	margin-bottom: 10px;
}

#yboxtop {
	background: url('/site_media/rtm/images/mrectop.jpg') no-repeat;
	width: 253px;
	height: 30px;
        padding-bottom: 0px;
        margin-bottom: 0px;
}

#yboxcontent {
	width: 253px;
        background: url('/site_media/rtm/images/rodzicetomy_63.jpg') repeat-y;
        padding: 0px;
        margin: 0px;
}

#yboxbottom {
	background: url('/site_media/rtm/images/mrecbottom.jpg') no-repeat;
	width: 253px;
	height: 9px;
        padding-top: 0px;
        margin-top: 0px;
}

.mostvisitedarticle {
        width: 233px;
        margin-left: 10px;
}

.mostvisitedarticle h4 {
        color: #60AB2A;
        font-size: 11px;
        font-weight: bold;
        line-height:16px;
        margin-bottom:2px;
        margin-top:2px;
}

.mostvisitedarticle h4 a:hover {
        color: red;
}

.mostvisitedarticle p{
        margin: 5px 0px 5px 0px;
        padding: 0px;
        padding-bottom: 5px;
        font-size: 11px;
}

/* blue box */

#bbox {
        width: 253px;
        float: left;
        margin-bottom: 10px;
}

#bboxtop {
        background: url('/site_media/rtm/images/mbtop.jpg') no-repeat;
        width: 253px;
        height: 30px;
}

#bboxcontent {
        width: 253px;
        background: url('/site_media/rtm/images/mbc.jpg') repeat-y;
}

#bboxbottom {
        background: url('/site_media/rtm/images/mbbottom.jpg') no-repeat;
        width: 253px;
        height: 9px;
}

.mostrecentarticle {
        width: 233px;
        margin-left: 10px;
}

.mostrecentarticle h4 {
        color: #60AB2A;
        font-size: 11px;
        font-weight: bold;
        line-height:16px;
        margin-bottom:2px;
        margin-top:2px;
}

.mostrecentarticle h4 a {
        color: #60AB2A;
}

.mostrecentarticle h4 a:hover {
        color: red;
}

.mostrecentarticle p{
        margin: 5px 0px 5px 0px;
        padding: 0px;
        padding-bottom: 5px;
        font-size: 11px;
}

/* content */

.articleshort {
        width: 700px;
        margin-left: 20px;
}

.articleshort h2 {
        color: #60AB2A;
        font-size: 18px;
        font-weight: bold;
        font-family: "Times new Roman", Helvetica, sans-serif;
        line-height:20px;
        margin-bottom:2px;
        margin-top:8px;
}

.articleshort p {
	font-size: 11px;
}

.article {
        width: 700px;
        margin-left: 20px;
}

.articletitle {
        color: #60AB2A;
        font-size: 30px;
        font-weight: normal;
        font-family: "Times new Roman", Helvetica, sans-serif;
        line-height:36px;
        margin-bottom:2px;
        margin-top:18px;
}

.articletags {
        color: #b9b9b9;
        display: block;
        font-size: 11px;
        margin: 5px;
        padding-bottom: 5px;
        padding-top: 12px;
}

.articletags span {
	
}

.articletags span a{
        color: #0153A7;
        text-decoration: none;
}

.articletags span a:visited{
        color: #0153A7;
        text-decoration: none;
}

.articletags span a:hover{
        color: #60AB2A;
        text-decoration: none;
}

.articlerelated {
        color: #b9b9b9;
        display: block;
        font-size: 11px;
        margin: 5px;
        padding-bottom: 5px;
        padding-top: 12px;
}

.articlerelated p.h3 {
        text-transform:uppercase;
        color: #60AB2A;
        font-weight: bold;
        text-decoration: none;
        margin-bottom:2px;
        margin-top:18px;
}

.articlerelatedshort p.h3 {
        color: #0153A7;
        font-size: 18px;
        font-weight: normal;
        font-family: "Times new Roman", Helvetica, sans-serif;
        line-height:16px;
        margin-bottom:2px;
        margin-top:2px;
}

.articlerelatedshortlink{
        color: #0153A7;
        text-decoration: none;
}

.articlerelatedshortlink:visited{
        text-decoration: none;
        color: #0153A7;
}

.articlerelatedshortlink:hover{
        text-decoration: none;
        color: red;
}

.articlerelatedshort {
        width: 700px;
        margin-left: 20px;
        font-size: 11px;
}

.fontsizeicon {
        border: none;
        float: right;
        margin-left: 2px;
	margin-top: -2px;
        padding-top: 0px;
}

.articledate {
        color: #b9b9b9;
        display: block;
        font-size: 10px;
}

.borderb{
        border-bottom: 1px solid lightgrey;
}



.topmargin10 {
        margin-top: 10px;
}

#loginbox {
        padding-left: 50px;
        padding: top: 50px;
}

#loginbox td {
        padding-top: 10px;
}

#loginbox td.margintop40 {
        margin-top: 40px;
}
