{%if loadfromjs != 1 %}<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    {% block head %}
        <title></title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf8">
    {% endblock %}
    {% block headcss %}
        <link rel="stylesheet" type="text/css" href="/site_media/{{ PORTALSHEETPATH }}/admin/css/styl.css" />
    {% endblock %}
    {% block extraheadcss %}
    {% endblock %}
    {% block headjs %}
        <script type="text/javascript" src="/site_media/{{ PORTALSHEETPATH }}/admin/js/jquery-1.5.2.min.js"></script>
        <script type="text/javascript" src="/site_media/{{ PORTALSHEETPATH }}/admin/js/admin.js"></script>
    {% endblock %}
    {% block extraheadjs %}
    {% endblock %}
</head>
<body>
        <div id="site">
                {% block top %}
                    {% include 'core/admin/includes/admintop.html' %}
                {% endblock %}
{% endif %}
                <div id="loadblock">
                    <div id="loadpanel">
                        <img src="/site_media/{{ PORTALSHEETPATH }}/admin/images/progress.gif" border="0" />
                    </div>
                </div>
                <div id="contentblock">
                    {% block contentside %}
                    {% endblock %}
                    <div class="clear"></div>
                </div>
{%if loadfromjs != 1 %}
                <div id="footer">
                    {% block footer %}
                        Wykonanie: Maciej Duniec | Wszelkie prawa zastrzeżone | Licencja: GPLv3
                    {% endblock %}
                </div>
        </div>
</body>
{% endif %}
